@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using SEO.Optimize.Web.Pages.SiteManagement
@model SelectSiteModel
@{
    ViewData["Title"] = "Select a Site";
    Layout = "_Layout";
}

<h2 class="title">Select a Site</h2>

<form method="post" class="site-selection-form">
    <div class="site-options">
        @foreach (var site in Model.AvailableSites)
        {
            <div class="site-option">
                <input type="radio" id="site-@site.Id" name="selectedSiteId" value="@site.Id" required />
                <label for="site-@site.Id">@site.DisplayName</label>
            </div>
        }
    </div>

    <button type="submit" class="btn-proceed">Proceed</button>
</form>

<link rel="stylesheet" href="~/css/SelectSite.css" />
